input, #submit-comment {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#leaderboard-list {
  list-style: none;
  padding: 0;
}

#leaderboard-list li {
  padding: 10px;
  background: #f9f9f9;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

section div {
  margin-bottom: 20px;
}

section input[type="text"] {
  width: 70%;
}

#submit-comment {
  border: none;
  background: #003366;
  color: white;
  cursor: pointer;
}

#submit-comment:hover {
  background: #0056b3;
}
