#email {
  font-weight: bold;
  color: #007bff;
}

form input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main h3 {
  text-align: center;
  font-size: 25px;
}

.account-overview {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  text-align: center;
}

.Balance {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #118C4F;
}

.containers {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px); 
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.logout-section {
  padding: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

a {
  color: #990000;
}

@media (max-width: 600px) {

  table thead th:nth-child(2),
  table thead th:nth-child(4), 
  table thead th:nth-child(5), 
  table tbody td:nth-child(2),
  table tbody td:nth-child(4),
  table tbody td:nth-child(5) {
    display: none;
  }
}