input, #submit-comment {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#leaderboard-list {
  list-style: none;
  padding: 0;
}

#leaderboard-list li {
  padding: 10px;
  background: #f9f9f9;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

section div {
  margin-bottom: 20px;
}

section input[type="text"] {
  width: 70%;
  display: inline-block;
}

#submit-comment {
  border: none;
  background: #003366;
  color: white;
  cursor: pointer;
  display: inline-block;
}

#submit-comment:hover {
  background: #0056b3;
}

#submit-comment[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

#notification {
  color: #003366;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 1s ease-out;
}

#notification.pop-in {
  animation: pop-in 0.3s ease-out;
}

#notification.fade-out {
  opacity: 0;
}

#notification.pop-in {
  animation: pop-in 0.3s ease-out;
}


@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}